*{
    box-sizing: border-box;
}

body{
    margin: 0;
}

#nav-icon{
    width: 40px;
    height: 44px;
    color: white;
    filter: invert(100%);
}

#banner{
    filter: invert(100%);
    width: 237px;
    height: 306px;
    position: absolute;
    margin: 97px 41px;
    display: flex;
    justify-content: center;
}

header{
    height: 600px;
    background: url("Assets/banner-toast.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
}

nav{
    display: flex;
    justify-content: space-between;
}

#myLinks{
    text-align: center;
    position: absolute;
    background: #844646;
    width: 100%;
    display: none;
}

#myLinks a{
    display: inline-block;
    width: 100%;
    color: white;
    text-decoration: none;
}

.about{
    text-align: center;
    margin: 10px;
    border-radius: 20px;
    margin: 10px;
    padding: 10px;
    position: relative;
    margin-top: -30px;
    background: white;
}

.about-title{
    font-family: 'Astloch', cursive;
    color: #844646;
    font-size: 44px;
    line-height: 56px;
}

.about-header{
    text-transform: uppercase;
    font-family: "Roboto"
}

.about-text{
    font-family: "Roboto"
}

.history-text{
    font-family: "Roboto";
    color: #844646;
    font-weight: bold;
}

.ways-to-eat{
    margin: 20px;
}

.ways-to-eat-title{
    font-family: 'Astloch', cursive;
    color: #844646;
    font-size: 44px;
    line-height: 56px;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
    position: relative;
    height: 330px;
  }
  
  .mySlides {
    display: none;
  }
  
  .cursor {
    cursor: pointer;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    bottom: 23%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-size: 15px;
    user-select: none;
    -webkit-user-select: none;
    border-radius: 50%;
    background: #844646;
  }

  .prev {
      background: #844646;
  }
  
  .next {
    right: 0;
  }
  
  .prev:hover,
  .next:hover {
    background-color: #844646;
  }

  .toast-description {
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    bottom: 3em;
  }


  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* 3 columns side by side */
  .column {
    float: left;
    width: 16.66%;
  }

  /* Add a transparency effect for thumnbail images */
  .demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
    border-bottom: 2px solid #844646;
  }

  .row{
    display: flex;  
    justify-content: center;
  }

.amazing-everytime{
    margin: 20px;
}

.amazing-everytime-title{
    font-family: 'Astloch', cursive;
    color: #844646;
    font-size: 44px;
    line-height: 56px;
}

.amazing-everytime-header{
    text-transform: uppercase;
    font-family: "Roboto";
    font-weight: bold;
    letter-spacing: 3px;
    margin-top: 10px;
}

.amazing-everytime-text{
    font-family: "Roboto";
    font-size: 15px;
}

.video{
    margin: 20px;
}

#video-credit{
    text-decoration: underline;
    color: #844646;
}

.video-pic{
    border-radius: 20px;
}

.pairing-is-caring{
    margin: 20px;
    text-align: center;
}

.pairing-is-caring-title{
    font-family: 'Astloch', cursive;
    color: #844646;
    font-size: 44px;
    line-height: 56px;
}

.pairing-is-caring-text{
    font-family: "Roboto";
    font-size: 15px;
}

.pairings1{
    display: inline-flex;
}

.pairings2{
    display: inline-flex;
    margin-top: 20px;
}

.pairing-pic{
    width: 150px;
    height: 150px;
    border-radius: 16px;
    padding: 5px;
    margin-left: 8px;
}

.pairing{
    width: 150px;
    height: 230px;
}

.pairing-title{
    text-transform: uppercase;
    letter-spacing: 3px;
    font-family: "Roboto";
    font-weight: bold;
    margin: 13px;
}

.pairing-description{
    font-family: "Roboto";
    color: gray;
    font-size: 14px;
    margin-left: 13px;
}


.newsletter{
    margin: 10px;
    border-radius: 16px;
    padding: 10px;
    padding-top: 30px;
    background: #844646;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
}

.stay-in-touch{
    font-size: 30px;
    font-family: 'Astloch', cursive;
    color: white;
    font-size: 28px;
    line-height: 40px;
    text-align: center;
    font-weight: bold;
    letter-spacing: 2px;
}

#email{
    border-radius: 10px;
    height: 40px;
    width: 250px;
    padding: 10px;
}

button{
    background: #844646;
    border: 1px solid white;
    color: white;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
    border-radius: 16px;
    width: 100px;
    height: 40px;
    margin-top: 10px;
    display: flex;
    align-items: center;
}

footer{
    display: flex;
    flex-direction: column;
    text-align: center;
}

#toast-footer{
    width: 74px;
    height: 82px;
    margin: 0 auto;
}

#footer-text{
    text-transform: uppercase;
    font-family: "Roboto";
    font-size: 10px;
    color: gray;
    font-weight: bold;
    letter-spacing: 3px;
}

@media only screen and (min-width: 678px) {
    
}