*{
    box-sizing: border-box;
    font-family: "Roboto";
    scroll-behavior: smooth;
}

body{
    margin: 0;
}

.menu {
    position: fixed;
    transform: translateY(-100%);
    transition: transform 0.2s;
    background: #844646;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    color: white;
    list-style: none;
    padding-top: 4rem;
    margin: 0 auto;
  }

.menuItem{
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center;
    margin: 25px;
    letter-spacing: 2px;
    font-size: 18px;
    line-height: 24px;
}
  
  .showMenu {
    transform: translateY(0);
  }

.icons-for-open-menu{
    display: flex;
    justify-content: space-between;
    margin-top: -60px;
}

#nav-icon{
    width: 40px;
    height: 44px;
    filter: invert(100%);
    margin: 10px;
}

#nav-icon2{
    width: 40px;
    height: 44px;
    filter: invert(100%);
    margin: 10px;
}

#nav-icon:hover{
    cursor: pointer;
    filter: invert(30%) sepia(6%) saturate(3661%) hue-rotate(314deg) brightness(100%) contrast(87%);
    transition-duration: 150ms; 
}

.menuIcon{
    margin: 18px;
    display: block;
}

.menuIcon:hover{
    cursor: pointer;
    filter: invert(30%) sepia(6%) saturate(3661%) hue-rotate(314deg) brightness(100%) contrast(87%);
    transition-duration: 150ms; 
}

.closeIcon{
    margin: 10px;
}

.closeIcon:hover{
    cursor: pointer;
}

#banner{
    filter: invert(100%);
    width: 237px;
    height: 306px;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;

    display: block;
    margin: auto;
}

#down-arrow{
    display: none;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}

.bounce {
    animation-name: bounce;
    animation-timing-function: linear;
}

@keyframes bounce {
0% {
    transform: translateY(-10px);
}
50% {
    transform: translateY(0);
}
100% {
    transform: translateY(0);
}
}

#down-arrow:hover{
    cursor: pointer;
}

header{
    height: 600px;
    background: linear-gradient(rgba(22, 22, 22, 0.5), rgba(32, 32, 32, 0.5)), url("Assets/banner-toast.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(100%);
    
}

.powder-texture-banner{
    position: absolute;
    bottom: 0;
    padding: 0;
    margin: 0;
    width: 100%;

}

nav{
    display: flex;
    justify-content: space-between;
}



#myLinks{
    text-align: center;
    display: none;
}

#myLinks a{
    width: 100%;
    color: white;
    letter-spacing: 2px;
    text-decoration: none;
}

#about{
    text-align: center;
    width: 280px;
    border-radius: 16px;
    margin: 10px;
    padding: 10px;
    padding-top: 48px;
    position: relative;
    margin: 0 auto;
    margin-top: -64px;
    margin-bottom: 120px;
    background: white;
    
}

.about-title{
    font-family: 'Astloch', cursive;
    color: #844646;
    font-size: 44px;
    line-height: 56px;
}

.about-header{
    text-transform: uppercase;
}

.divider-line{
    border: 3px solid #844646;
    width: 48px;
    border-radius: 4px;
    margin: 0 auto;
}

.about-text{
    font-size: 18px;
    line-height: 24px;
    color: rgb(170, 169, 169);
}

.history-text{
    color: #844646;
    font-weight: bold;
}

#ways-to-eat{
    margin: 20px;
    width: 280px;
    margin: 0 auto;
    padding: 10px;
}

.ways-to-eat-title{
    font-family: 'Astloch', cursive;
    color: #844646;
    font-size: 44px;
    line-height: 56px;
}

.ways-to-eat-text{
    font-family: 16px;
    line-height: 22px;
    color: rgb(170, 169, 169);
}

/* Position the image container (needed to position the left and right arrows) */
.container {
    position: relative;
    height: 330px;
  }

.desktop-thumb{
    display: none;
}
  
  .mySlides {
    display: none;
    margin-bottom: 20px;
  }

  .slide-pic{
      border-radius: 16px;
      width: 300px;
      position: relative;
      left: 0;
      right: 0;
      display: block;
      margin: auto;
      margin-top: 20px;
  }
  
  .cursor {
    cursor: pointer;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    bottom: 24%;
    width: auto;
    padding: 16px;
    color: white;
    font-size: 15px;
    user-select: none;
    -webkit-user-select: none;
    border-radius: 50%;
    background: #844646;
  }

  .prev {
      background: #844646;
  }
  
  .next {
    right: 0;
  }
  
  .prev:hover,
  .next:hover {
    background-color: #844646;
  }

  .toast-description {
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    bottom: 3em;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    color:rgb(112, 110, 110);
  }

  .slide-title{
      text-transform: uppercase;
      font-weight: bold;
      letter-spacing: 3px;
      color: black;
  }


  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* 3 columns side by side */
  .column {
    float: left;
    width: 16.66%;
  }

  /* Add a transparency effect for thumnbail images */
  .demo {
    opacity: 0.6;
    border-radius: 16px;
    width: 56px;
    height: 56px;
    top: 0;
    right: 0;
    display: block;
    margin: auto;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
    border-bottom: 2px solid #844646;
  }

  .row{
    display: flex;  
    justify-content: center;
  }

.makeit{
    margin-top: 120px;
}

#amazing-everytime{
    position: relative;
    width: 280px;
    margin: 0 auto;
    padding: 10px;
}

.amazing-everytime-title{
    font-family: 'Astloch', cursive;
    color: #844646;
    font-size: 44px;
    line-height: 56px;
}

.amazing-everytime-header{
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 3px;
    margin-top: 10px;
}

.amazing-everytime-text{
    font-size: 16px;
    line-height: 24px;
    color: rgb(170, 169, 169);
}

.video{
    margin: 20px;
    width: 50%;
}

#video-by{
    font-size: 14px;
    color: rgb(170, 169, 169);
    line-height: 20px;

}

#video-credit{
    font-size: 14px;
    text-decoration: underline;
    color: #844646;
}

.video-pic{
    border-radius: 20px;
    width: 300px;
    display: flex;
    align-self: center;
    justify-content: center;
    margin: 0 auto;
}


#pairing-is-caring{
    text-align: center;
    position: relative;
    width: 280px;
    margin: 0 auto;
    margin-top: 120px;
    margin-bottom: 48px;
}


.pairing-is-caring-title{
    font-family: 'Astloch', cursive;
    color: #844646;
    font-size: 44px;
    line-height: 56px;
}

.pairing-is-caring-text{
    font-size: 16px;
    line-height: 22px;
    color: rgb(170, 169, 169);
}

.pairings{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.pairing-pic{
    width: 150px;
    height: 150px;
    border-radius: 16px;
    padding: 5px;
    left: 0;
    right: 0;

    display: block;
    margin: auto;
}

.pairing{
    width: 150px;
}

.pairing-title{
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: bold;
    margin: 13px;
}

.pairing-description{
    color: gray;
    font-size: 14px;
    margin-left: 13px;
}


#newsletter{
    border-radius: 16px;
    padding: 10px;
    padding-top: 30px;
    background: #844646;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
    width: 300px;
    margin: 0 auto;
    margin-top: 120px;
}

.powder-texture-newsletter{
    position: absolute;
    margin-top: 123px;
    width: 320px;
}

.stay-in-touch{
    font-size: 30px;
    font-family: 'Astloch', cursive;
    color: white;
    font-size: 28px;
    line-height: 40px;
    text-align: center;
    font-weight: bold;
    letter-spacing: 2px;
}

#email{
    border-radius: 10px;
    height: 40px;
    width: 250px;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
}

button{
    background: #844646;
    border: 1px solid white;
    color: white;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
    border-radius: 16px;
    width: 100px;
    height: 44px;
    margin-top: 10px;
    display: flex;
    align-items: center;
}

button:hover{
    border: 3px solid white;
    cursor: pointer;
}

footer{
    display: flex;
    flex-direction: column;
    text-align: center;
}

#toast-footer{
    width: 74px;
    height: 82px;
    margin: 0 auto;
    margin-top: 100px;
    filter: invert(30%) sepia(6%) saturate(3661%) hue-rotate(314deg) brightness(100%) contrast(87%);
}

#footer-text{
    text-transform: uppercase;
    font-size: 10px;
    color: gray;
    font-weight: bold;
    letter-spacing: 3px;
    margin: 20px;
}

@media only screen and (min-width: 678px) {
    
    nav{
        justify-content: center;
        position: sticky;
        top: 0;
        z-index: 100
    }

    .menu{
        display: none;
    }
    
    .menuIcon{
        display: none;
    }

    #myLinks{
        display: inline-flex;
        width: 500px;
        align-items: center;
        margin: 0 64px;
    }



    #myLinks a:hover{
        color: #844646;
        text-decoration: underline;
        transition-duration: 150ms; 
    }

    #down-arrow{
        filter: invert(100%);
        width: 48px;
        height: 48px;
        position: absolute;
        left: 0;
        right: 0;
    
        display: block;
        margin: auto;
        margin-top: 380px;
    }

    #about{
        width: 400px;
        
    }

    .about-title{
        font-size: 72px;
        line-height: 80px;
    }

    .ways-to-eat-container{
        display: flex;
        justify-content: center;
        height: 600px;
    }

    .ways-to-eat-title{
        font-size: 56px;
        line-height: 64px;
    }

    #ways-to-eat{
        width: 400px;
        height: 500px;
    }

    .container{
        margin: 0 auto;
    }

    .slide-pic{
        width: 90%;
    }

    .prev, .next {
    position: absolute;
    bottom: 40%;
    display: none;
  }

  .toast-description{
    display: none;
  }

  .thumbs{
      display: none;
  }

  .desktop-thumb{
      display: grid;
  }

  .caption{
      width: 300px;
      margin: 20px;
      font-size: 14px;
      line-height: 22px;
      color:rgb(112, 110, 110)
  }

  .video-pic{
    width: 50%;
  }

  .makeit{
      display: flex;
      flex-direction: row-reverse;
  }

  #pairing-is-caring{
    width: 432px;

  }

  #newsletter{
    height: 432px;
    width: 432px;
  }

  .powder-texture-newsletter{
    position: absolute;
    margin-top: 185px;
    width: 435px;
}



}

@media only screen and (min-width: 992px) {
    .pairings{
        width: 100%;
      }
    
      .pairing-pic{
        width: 280px;
        height: 280px;
      }
    
      .pairing{
          width: 280px;
          margin: 10px;
      }

      .slide-pic{
        width: 950px;
        height: 572px;
      }

      #amazing-everytime{
        position: relative;
        width: 280px;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        display: block;
        margin: auto;

      }

      .video-pic{
        width: 950px;
        height: 572px;
      }
};